<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Russo+One|Ubuntu"
      rel="stylesheet"
    />
    <title>Registro</title>
  </head>
  <body>
    <div id="nav-conteiner">
      <div id="titulo-h1">
        <h1>Música 8D</h1>
      </div>
      <nav id="navbar">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Registrarse</a></li>
        </ul>
      </nav>
    </div>

    <div class="container home">

    </div>


      <footer>
        <p>Henry</p>
      </footer>
    
  </body>
</html>
