.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #000000;
  padding: 40px 0;
}

.container {
  margin: 0 auto;
  width: 700px;
  height: 600px;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
}



.details {
  padding: 50px 0 0 50px;
}

.title {
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-bottom: 13px;
    line-height: normal;
    position: relative;
}
.title span {
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
  }
.description {
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  
}
.column {
  
    padding-left: 41px;
    padding-top: 30px;
    margin-left: 20px;
    width: 480px;
}

.img img {
  width: 200px;
  height: 210px;
  padding-left: 50px;
}
.container2 {
  display: flex;
  flex-direction: row;
}

.movie-card{

  border: solid 1px #585858cc;
  box-shadow: 0 0 10px #000000cc;
  margin-top: 40px;
  height: 500px;
}

@media screen and (max-width: 768px){
  .title {
    font-size: 25px;
  }
  .description {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }

  .column{
    /* padding-left: 10px; */
    padding-top: 10px;
    margin-left: 0;
    width: 100%;
    display: block;
    align-self: start;
  }

  .container2{
    flex-direction: column;
    align-items: center;
  }

  .img img {
    width: 100px;
    height: 110px;
  }

  .movie-card{
    height: 680px;
    width: 360px;
  }

  .details {
    padding: 20px 15px 0 15px;
  }

  .plot{
    margin-top: 20px;
    margin-left: 10px;
  }
}