#logoHenry {
  margin-right: 20px;
}

h1 {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  margin: 0;
}

.container-fluid h1 {
  margin-right: auto;
}

.navbar {
  background-color: rgba(43, 43, 43, 0.932);
}
